<section id="UserSidebar">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="userSidebar" aria-labelledby="userSidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="userSidebarLabel"><%= t('.title') %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <div class="list-group">
        <% if current_user.admin? %>
          <%= link_to t('.menu'), menus_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('.tag'), tags_path, class: 'list-group-item list-group-item-action' %>
        <% end %>
        <%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action' %>
      </div>
    </div>
  </div>
</section>
