@import "bootstrap";

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  border-radius: 50%;
}